*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;

}

/* Header  */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0b3c5d;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.logo{
    font-size: 1.8rem;
    font-weight: 800;
    color: #fdbb2d;
    letter-spacing: 1px;


}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1.2rem;

}
.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #fdbb2d;
}



/* Hero Section  */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('./Assets/hero.jpg') center/cover no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 1rem;
}

.hero-content h1{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}
.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;

}

.btn{
    padding: 0.75rem 1.5rem;
    background-color: #fd6b2d;
    border: none;
    border-radius: 5px;
    color: #0b3c5d;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

 .btn:hover {
     background-color: #e0a800;
 }